.contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; 
    background-image: url(./public/images/registro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 90px; 
    box-sizing: border-box;
  }
  
  .card {
    background-color: #1a347f;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    height: 700px; 
  }
  .card-topo {
    background-color: #1a347f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%; 
  }
  
  .card-baixo {
    background-color: #ffffff;
    padding: 20px 30px;
    height: 60%; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display:flex;
  }
  
  .logo-login {
    width: 230px;
    height: 210px;
    margin-bottom: -10px;
    
  }
  
  .slogan-login {
    font-size: 16px;
    color: #ffffff;
    margin: 0; /* Remove margens desnecessárias */
    font-family: comforta;
    line-height: 1.2; /* Reduz o espaçamento entre as linhas */
    margin-top: 20px;
  }

  .titulo-login{
    font-size: 24px;
    color: #ffffff;
    margin: 0; /* Remove margens desnecessárias */
    font-family: comforta;
    margin-top: -10px;
  }
  
  .card-baixo {
    background-color: #ffffff;
    padding: 20px 30px;
  }
  
  .card-title {
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: comforta;

  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: comforta;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    font-family: comforta;
  }
  
  .register-button {
    background-color: #1a347f;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-family: comforta;
  }
  
  


  @font-face {
    font-family: comforta;
    src: url(public/fonts/comforta.ttf);
  }

  .login-label {
    margin-top: 15px;
    font-size: 14px;
    color: #000;
    font-family: comforta;
  }
  
  .login-label a {
    color: #1a347f;
    text-decoration: none;
  }
  
  .login-label a:hover {
    text-decoration: underline;
  }
  
  