.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  color: white;
}

.profile-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 1000px;
  margin-top: 50px;
  padding: 40px;
  border-radius: 15px;
  gap: 30px;
}

.profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  min-width: 300px;
}

.profile-picture img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info p {
  margin: 10px 0;
  font-size: 20px;
  color: rgb(58, 58, 58);
}

.profile-edit {
  flex: 1;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  color: rgb(58, 58, 58);
  min-height: 345px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 60px;
}

.profile-edit h2 {
  text-align: center;
  color: rgb(58, 58, 58);
  font-size: 24px;
  margin-bottom: 30px;
  font-family: karla;
}

.edit-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  color: rgb(58, 58, 58);
  width: 100%; 
  max-width: 500px; 
  justify-content: space-between;
  margin-right: 40px;
  
}

.edit-field label {
  width: 90px;
  color: rgb(58, 58, 58);
  font-weight: bold;
  font-size: 18px;
  text-align: right; 
}

.edit-field input {
  flex: 1;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
}

.edit-button {
  padding: 10px 15px;
  background-color: #0044cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #003399;
}

.relatorio-button2 {
  background-color: #0232be;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
  font-family: karla;
}

.excluir-button {
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  margin-top: 10px;
  font-family: karla;
}

.excluir-button:hover {
  background-color: #990000;
}

@font-face{
  font-family: karla;
  src: url(public/fonts/karla.ttf);
}