.relatorio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #003366, #000033); 
}

.card-geral {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 600px; 
    background-color: #f4f6ff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}


.card-stats {
    width: 40%;
    background-color: #f4f6ff;
    padding: 20px;
    display: flex;
    align-items: center;
    border-right: 3px solid rgb(77, 77, 77);
    flex-direction: column;

}

.card-grafico {
    width: 60%;
    background-color: #f4f6ff; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card-semana-relatorio {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #f4f6ff; 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.semanaTitulo-relatorio {
    color: #1a347f; 
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0 20px;
}


.voltaSemana-relatorio, .ProximaSemana-relatorio {
    background: none;
    border: none;
    color: #1a347f;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}