/* Container principal */
.relatorio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #003366, #000033); 
}

/* Card principal */
.card-geral {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 600px; 
    background-color: #f4f6ff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 50px;
}

/* Seção dos elementos do card */
.card-stats {
    width: 40%;
    background-color: #f4f6ff;
    padding: 20px;
    display: flex;
    align-items: center;
    border-right: 3px solid rgb(77, 77, 77);
    flex-direction: column;
}

/* Container dos botões e título da semana */
.card-semana-relatorio {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #f4f6ff; 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Título da Semana */
.semanaTitulo-relatorio {
    color: #1a347f; 
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0 20px;
}

/* Botões de navegação */
.voltaSemana-relatorio, .ProximaSemana-relatorio {
    background: none;
    border: none;
    color: #1a347f;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

/* Botão principal - estilo grande */
.btn-gerar-relatorio {
    background-color: #093880;
    color: #fff;
    padding: 15px 40px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: auto;
    transition: background-color 0.3s, transform 0.2s;
}


.relatorio-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}