
.edit-card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  

  .edit-card {
    background-color: #1a347f;
    color: white;
    width: 450px;
    height: 550px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .edit-card h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  

  .edit-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .field-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .field-row p {
    margin: 0;
    font-size: 16px;
    flex: 1;
    text-align: left;
  }
  
  .field-row input[type="time"],
  .field-row input[type="checkbox"] {
    margin-left: 10px;
    flex: 0;
    transform: scale(1.5);
    border: 0px solid black;
  }
  

  .avaliacao {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
   
  }
  
 
  .avaliacao-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
  }
  
  .thumbs-up,
  .thumbs-down {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Botão de salvar */
  .edit-card-actions {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .btn-save {
    background-color: #0044cc;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    margin-top: 90px;
  }
  