.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  max-width: 1300px; 
  background-color: #fff; 
  padding: 20px 40px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); 
  border-radius: 50px; 
  z-index: 1000;
  font-size: x-large;

}

.navbar-logo {
  color: #1a347f;
  font-weight: bold;
  font-size: xx-large;
  font-family: comforta;

}

.navbar-links {
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #1a347f;
  text-decoration: none;
  font-weight: bold;
  font-family: comforta;
}

.navbar a:hover {
  color: #1a347f;
}
